<% if (success[0]) { %> 
    <div class="alert alert-success" role="alert">
        <%= success %> 
    </div>
<% } %>     

<% if (error[0]) { %> 
    <div class="alert alert-danger" role="alert">
        <%= error %> 
    </div>
<% } %>  

<% if (info[0]) { %> 
    <div class="alert alert-info" role="alert">
        <%= info %> 
    </div>
<% } %>  