<% layout('layouts/boilerplate') -%>

<h1>Campgrounds</h1>
<div><a href="/campgrounds/new">Add Campground</a></div>    

<ul>
    <!-- <%= campgrounds[0].title %> -->
    <% for(let i=0; i<campgrounds.length; ++i) {%>
        <li> <a href="/campgrounds/<%= campgrounds[i]._id %>"> <%= campgrounds[i].title %></a> </li>
    <% } %>
</ul>