<% layout('layouts/boilerplate') -%>

<div class="row">
    <div class="col-md-6 offset-3">
        <%- include('../partials/flash') %>
        <h1 class="text-center">New Campground</h1>
        <form action="/campgrounds" method="POST" enctype="multipart/form-data" novalidate class="needs-validation">
            <div class="mb-3">  
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="invalid-feedback">
                    Title is required.
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="invalid-feedback">
                    Please provide a valid location.
                </div>
            </div>

            <div class="mb-3">
                <label for="price">Price</label>
                <div class="input-group mt-1">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control w-25" id="price" name="campground[price]" aria-label="Amount (to the nearest dollar)" required>
                    <span class="input-group-text">.00</span>
                    <div class="invalid-feedback">
                        Please provide a valid price.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" placeholder="Optional" name="campground[description]"></textarea>
            </div>

            <div class="mb-4">
                <label for="campgroundImages" class="form-label">Upload Images</label>
                <input class="form-control" type="file" id="campgroundImages" name="campgroundImages" multiple>
            </div>

            <div class="mb-3">    
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
    </div>
</div>
